<!DOCTYPE html>
<html style="scroll-behavior: smooth;" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/resources/css/style.css">
    <link rel="stylesheet" href="/public/resources/css/additionalStyles.css">
    <link rel="stylesheet" href="/public/resources/css/now-ui-kit.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    
    <title><%= client.user.username %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="<%= client.user.displayAvatarURL() %>" />
    <link rel="icon" type="image/png" href="<%= client.user.displayAvatarURL() %>">

    <meta property="og:image" content="<%= client.user.displayAvatarURL() %>">
    <meta property="og:title" content="<%= client.user.username %>">
    <meta name="og:description" content="<%= client.user.username %> is a multipurpose bot with lots of games and utilities.">
    <meta name="description" content="<%= client.user.username %> is a multipurpose bot with lots of games and utilities.">

    <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?11.2"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://rawcdn.githack.com/ellekasai/twemoji-awesome/gh-pages/twemoji-awesome.css">
</head>
<body style="color: #eaeaea">