<nav class="navbar navbar-expand-lg bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="/public/resources/assets/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
    </button>
    <a href="/">
        <h1 class="text-hide" style="margin-bottom: 0; background-image: url('<%- client.user.displayAvatarURL() %>'); background-size: contain; width: 50px; height: 50px;"><%= client.user.username %></h1>
        <!--<img src="<%- client.user.displayAvatarURL() %>" width="50" height="50"><!-- -->
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <% util.inspect(user) %>
                <% let maxpl = user_ ? ((user_.user ? user_.user : user_).maxLevel || { level: 4 }).level : 4 %>
                <a class="nav-link" href="/commands">Commands <span class="badge"><%= Array.from(client.registry.commands.filter(c => !c.hidden && c.permLevel <= maxpl).values()).length %></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/server">Support Server</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/support">Support us :heart:</a>
            </li>
        </ul>
        <div class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </div>
        <% if (user) { %>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome, <strong><%= user.username %></strong>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!--a class="dropdown-item" href="/usersettings">My settings</a-->
                    <a class="dropdown-item" href="/dashboard">My servers</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        <% } else { %>
            <a href="/login" class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;">LOGIN</a>
        <% } %>
    </div>
</nav>