<!DOCTYPE html>
<html lang="en">
    <% var subtitle = "Server Leaderboard: " + guild.name %>
    <% include ../../../partials/head %>
    <% include ../../../partials/nav %>
    
    <div class="container content">
        <h1 class="title is-1 has-text-centered">Leaderboard</h1>
        <h3 class="subtitle is-3 has-text-centered">Server: <%= guild.name %></h3>
        <div class="columns is-multiline">
            <%
                var filtered = require("./utils/database").levels.data.filter(p => p.guildID === guild.id);
                var sorted = filtered.sort((a, b) => b.points - a.points);
            %>
            <% if (!sorted.length) { %>
                <div>
                    There are no board leaders. It's your time to shine!
                </div>
            <% } %>
            <% let i = 1; %>
            <% sorted.forEach((u) => { %>
                <% let lb = guild.members.resolve(u.userID); %>
                <% if (!lb || lb.user.bot) return; %>
                <% if (i > 1) { %><hr style="border-top-color: #aaaaaa;"><% } %>
                <div class="media">
                    <img class="mr-3" width="64" height="auto" src="<%- lb.user.displayAvatarURL({ format: "png", size: 512 }) %>" alt="<%= lb.username %>'s avatar'">
                    <div class="media-body">
                        <div class="float-right lead text-right">
                            <%= client.utils.plural(lb.points.data.points, "point") %><br>
                            Level <%= lb.points.data.level %>
                        </div>
                        <div>
                            <h5 class="mt-0"><%= i %>. <%= lb.displayName %><% if (user && lb.id == user_.id) { %> <span class="badge">YOU</span><% } %></h5>
                            <p>@<%= lb.user.tag %></p>
                        </div>
                    </div>
                </div>
                <% i++ %>
            <% }) %>
        </div>
    </div>
      
    <% include ../../../partials/footer %>
</html>