<!DOCTYPE html>
<html lang="en">
    <% var subtitle = "" %>
    <% include ../../../partials/head %>
    <% include ../../../partials/nav %>
    
    <div class="container content">
        <h1 class="title is-1 has-text-centered">Leaderboard</h1>
        <h3 class="subtitle is-3 has-text-centered">Server: <%= guild.name %></h3>
        <div class="columns is-multiline">
            <%
                var filtered = client.points.array().filter(p => p.guildID === guild.id);
                var sorted = filtered.sort((a, b) => b.points - a.points);
            %>
            <% if (!sorted.length) { %>
                <div>
                    There are no board leaders. It's your time to shine!
                </div>
            <% } %>
            <% sorted.forEach((u, i) => { %>
                <% let lb = guild.members.resolve(u.userID); %>
                <div class="column is-12 has-text-centered">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img class="is-rounded" src="<%- lb.user.displayAvatarURL({ size: 512 }) %>">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4"><%= i + 1 %>. <%= lb.displayName %></p>
                                    <p class="subtitle is-6">@<%= lb.user.tag %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
      
    <% include ../../../partials/footer %>
</html>