<!DOCTYPE html>
<html lang="en">
    <% var subtitle = "Editing Configuration: " + guild.name %>
    <% include ../../../partials/head %>
    <% include ../../../partials/nav %>

    <%
        function getType(key) {
            return types.filter(t => !!settingProps[key] && settingProps[key].type == t.id)[0];
        }
    %>
    
    <div class="container content">
        <h1 class="title is-1 has-text-centered">Editing Server configuration</h1>
        <h3 class="subtitle is-3 has-text-centered">Server: <%= guild.name %></h3>

        <form action="/dashboard/<%= guild.id %>/config/save" method="post">
            <% for (let setting of Object.keys(settings).sort((a, b) => client.configOrder.indexOf(a) - client.configOrder.indexOf(b))) { %>
                <% let type = getType(setting); %>
                <% if (setting == "guildID") continue; %>
                <hr />
                <div class="field">
                    <label class="label"><%= client.configTitles[setting] %></label>
                    <p><%- render(guild, (settingProps[setting] || {}).description || "No description.") %></p>
                    <div class="control">
                        <% console.log(setting); %>
                        <% if (settingProps[setting].extendable) { %>
                            <% settings[setting].forEach((set, index) => { %>
                                <% let pretty = type.webInput ? type.webInput(client, guild, set, setting + "[]") : set %>
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <%- pretty == type.nullValue ? "This value is empty." : pretty %>
                                    </div>
                                    <div class="control">
                                        <a class="button is-danger" onclick="document.getElementsByName('<%= setting %>[]')[<%= index %>].parentNode.parentNode.remove()" aria-label="delete">&times;</a>
                                    </div>
                                </div>
                            <% }); %>
                            <button style="margin-top: 1.5rem;" class="button is-info" onclick="this.outerHTML = `<div class='field has-addons'><div class='control is-expanded'><%- type.webInput(client, guild, "", setting + "[]").split('"').join("'") %></div><div class='control'><a onclick='document.getElementsByName('<%= setting %>[]')[${document.getElementsByName('<%= setting %>[]').length}].parentNode.parentNode.remove()' class='button is-danger' aria-label='delete'>&times;</a></div></div>${this.outerHTML}`">+</button>
                        <% } else { %>
                            <% let pretty = type.webInput ? type.webInput(client, guild, settings[setting], setting, settingProps[setting] || {}) : setting %>
                            <%- pretty == type.nullValue ? "This value is empty." : pretty %>
                        <% } %>
                    </div>
                </div>
            <% } %>
            <div class="buttons has-addons is-right">
                <a href="javascript:history.go(-1);" class="button is-secondary">
                    <span>Cancel</span>
                </a>
                <input type="submit" class="button is-primary">
            </div>
        </form>
    </div>
      
    <% include ../../../partials/footer %>
</html>