<!DOCTYPE html>
<html lang="en">
    <% var subtitle = "Viewing Configuration: " + guild.name %>
    <% include ../../../partials/head %>
    <% include ../../../partials/nav %>

    <%
        function getType(key) {
            return types.filter(t => !!settingProps[key] && settingProps[key].type == t.id)[0];
        }
    %>

    <%
        let arr = Object.keys(settings).filter(v => v != "guildID" && !!settingProps[v]).map(v => {
            return settingProps[v].category || "Misc"
        }).filter((v, i, a) => a.indexOf(v) == i).sort((a, b) => {
            if (b == "Misc")
                return 1;
            if (a == "Misc")
                return -1;
            return a.localeCompare(b);
        });
    %>

    <style>
        .tabs-content li {
            display: none;
            list-style: none;
        }

        .tabs-content li.is-active {
            display: block;
        }
    </style>
    
    <div class="container content">
        <h1 class="title is-1 has-text-centered">Viewing Server configuration</h1>
        <h3 class="subtitle is-3 has-text-centered">Server: <%= guild.name %></h3>

        <div class="tabs-wrapper">
            <div class="tabs">
                <ul>
                    <% for (let cat of arr) { %>
                        <% let s = arr.indexOf(cat) == 0 ? " class=is-active" : "" %>
                        <li<%= s %>>
                            <a><%= cat || "Misc" %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="tabs-content">
                <ul>
                    <% let arr2 = arr %>
                    <% for (let cat of arr2) { %>
                        <li<%= arr2.indexOf(cat) == 0 ? " class=is-active" : "" %>>
                            <div class="columns is-multiline">
                                <% let arr = Object.keys(settings).sort((a, b) => client.configOrder.indexOf(a) - client.configOrder.indexOf(b)).filter(v => v != "guildID" && !!settingProps[v] && (settingProps[v].category || "Misc") == cat) %>
                                <% console.log(arr, cat) %>
                                <% for (let setting of arr) { %>
                                    <% let type = getType(setting); %>
                                    <% if (setting == "guildID") continue; %>
                                    <div class="column is-6">
                                        <%- arr.indexOf(setting) > 1 ? "<hr />" : "" %>
                                        <div class="field">
                                            <label class="label"><%= settingProps[setting].name %></label>
                                            <p><%- render(guild, (settingProps[setting] || {}).description || "No description.") %></p>
                                            <div class="">
                                                <% if (settingProps[setting].extendable) { %>
                                                    <%- settings[setting].map(set => {
                                                        let pretty = type.webRender ? type.webRender(client, guild, set, setting + "[]") : set
                                                        return pretty == type.nullValue ? "This value is empty." : render(guild, pretty).trim().replace(/(^<p>|<\/p>$)/g, "");
                                                        }).join(settingProps[setting].short ? ", " : "<br>") || "This value is empty."; %>
                                                <% } else { %>
                                                    <% let pretty = type.webRender ? type.webRender(client, guild, settings[setting], setting) : setting %>
                                                    <%- pretty == type.nullValue ? "This value is empty." : render(guild, pretty).trim(); %>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <br>
        <div class="buttons has-addons is-left">
            <a href="/dashboard/<%= guild.id %>/home">
                <span>← Back</span>
            </a>
        </div>
    </div>
      
    <% include ../../../partials/footer %>
</html>