<!DOCTYPE html>
<html lang="en">
    <% var subtitle = "Server Dashboard: " + guild.name %>
    <% include ../../partials/head %>
    <% include ../../partials/nav %>

    <%
        function getType(key) {
            return types.filter(t => !!settingProps[key] && settingProps[key].type == t.id)[0];
        }
    %>
    
    <div class="container content page">
        <h1 class="title is-1 has-text-centered">Server dashboard</h1>
        <h3 class="subtitle is-3 has-text-centered">Server: <%= guild.name %></h3>
        <br>
        <div class="row">
            <div class="col-6-md">
                <h5>Prefix</h5>
                <p>
                    <code><%= guild.commandPrefix %></code>&nbsp;(<a href="javascript:void(0)" data-toggle="modal" id="prefixBtn" data-target="#prefixModal">Edit</a>)
                </p>

                <hr>

                <h5>Server configuration</h5>
                <a href="/dashboard/<%= guild.id %>/config/view">View →</a>
                |
                <a href="/dashboard/<%= guild.id %>/config/edit">Edit →</a>

                <hr>

                <h5>Tags</h5>
                <p><%= guild.tags.list.length || "No" %> tag<%= guild.tags.list.length == 1 ? "" : "s" %></p>
                <a href="/dashboard/<%= guild.id %>/tags/view">View →</a>
                |
                <a href="/dashboard/<%= guild.id %>/tags/edit">Edit →</a>
            </div>
            <div class="col-6-md">
                <h5>Stats</h5>
                <p>
                    <ul>
                        <li>Users: <%= guild.members.cache.size %></li>
                        <li>
                            Channels: <%= guild.channels.cache.size %>
                            <ul>
                                <li>Text: <%= guild.channels.cache.filter(c => c.type == "text").size %></li>
                                <li>Voice: <%= guild.channels.cache.filter(c => c.type == "voice").size %></li>
                                <li>Category: <%= guild.channels.cache.filter(c => c.type == "category").size %></li>
                            </ul>
                        </li>
                        <li>
                            Roles: <%= guild.roles.cache.size %>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="prefixModal" tabindex="-1" role="dialog" aria-labelledby="prefixBtn" aria-hidden="true">
        <form action="/dashboard/<%= guild.id %>/config/prefix" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit prefix</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        Edit the prefix (the current one is <code><%= guild.commandPrefix %></code>):<br>
                        <input type="text" name="prefix" id="prefix" class="form-control" value="<%= guild.commandPrefix %>"" placeholder="<%= guild.commandPrefix %>">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save changes">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <% include ../../partials/footer %>
</html>