<!DOCTYPE html>
<html lang="en">

<% var subtitle = "Help for command: " + cmd.name %>
<% include ../partials/head %>
<% include ../partials/nav %>
<% var command = cmd %>

<div class="container page">
    <h1 class="title is-1" style="text-align: center; min-width: 100% !important;" width="100%">Help for command:
        <%= cmd.name %></h1>
    <h3 class="title">Description</h3>
    <p><%- md(cmd.description) %></p>
    <% if (cmd.details) { %><br />
    <p><%- md(cmd.details.split("\n").join("<br />")) %></p><% } %><br />
    <div class="row">
        <%
            let lims = [];
	        if (command.guildOnly)
	            lims.push(`:globe_with_meridians: Guild only`);
	        if (command.ownerOnly || command.permLevel == 10)
	            lims.push(`:bust_in_silhouette: Bot owner only`);
            if (command.nsfw)
                lims.push(`:bookmark_tabs: NSFW channels only`);
            if (command.premium)
                lims.push(`:large_orange_diamond: Premium users only`);
        %>
        <% if (lims.length) { %>
        <div class="col-4">
            <h3 class="title">Limitations</h3>
            <ul>
                <%- lims.map(l => `<li>${l}</li>`).join("") %>
            </ul>
        </div>
        <% } %>
        <div class="col-4">
            <h3 class="title">Permission Level</h3>
            <% let p = client.permissions.get(command.permLevel); %>
            <strong><%= p.name %></strong> [<%= p.level %>]
        </div>
        <% if (cmd.examples && cmd.examples.length) { %>
        <div class="col-4">
            <h3 class="title">Examples</h3>
            <ul>
                <%- cmd.examples.map(l => `<li><code>${l}</code></li>`).join("") %>
            </ul>
        </div>
        <% } %>
        <div class="col-4">
            <h3 class="title">Usage</h3>
            <code><%= client.commandPrefix %><%= cmd.name %> <%= cmd.format %></code>
        </div>
        <% if (cmd.aliases && cmd.aliases.length) { %>
        <div class="col-4">
            <h3 class="title">Alias<% if (cmd.aliases.length > 1) { %>es<% } %></h3>
            <ul>
                <%- cmd.aliases.map(l => `<li><code>${l}</code></li>`).join("") %>
            </ul>
        </div>
        <% } %>
        <% if (!!Object.keys(cmd.formatExplanation).length) { %>
        <div class="col-4">
            <h3 class="title">Arguments</h3>
            <%- Object.keys(cmd.formatExplanation).map(k => render(null, `\`${k}\`: ${cmd.formatExplanation[k]}`)).join("<br>").replace(/&amp;/g, "&").replace(/<\/?p>/g, "") %>
        </div>
        <% } %>
        <div class="col-4">
            <h3 class="title">Category</h3>
            <%= cmd.group.name %>
        </div>
    </div><br>
    <div class="buttons has-addons is-left">
        <a href="/commands">
            <span>← Back to All Commands</span>
        </a>
    </div>
</div>

<% include ../partials/footer %>


</html>