<!DOCTYPE html>
<html lang="en">

<% var subtitle = "Command List" %>
<% include ../partials/head %>
<% include ../partials/nav %>
<% var command = cmd %>

<br>
<h1 style="text-align: center; min-width: 100% !important;" width="100%">Help for command: <%= cmd.name %></h1>
<div class="container">
    <h3>Description</h3>
    <p><%- md(cmd.description) %></p>
    <% if (cmd.details) { %><p><%- md(cmd.details.split("\n").join("<br />")) %></p><% } %>
    <div class="column">
        <%
            let lims = [];
	        if (command.guildOnly)
	            lims.push(`:globe_with_meridians: Guild only`);
	        if (command.ownerOnly || command.permLevel == 10)
	            lims.push(`:bust_in_silhouette: Bot owner only`);
            if (command.nsfw)
                lims.push(`:bookmark_tabs: NSFW channels only`);
            if (command.premium)
                lims.push(`:large_orange_diamond: Premium users only`);
        %>
        <% if (lims.length) { %>
            <div class="row-4-sm">
                <h3>Limitations</h3>
                <ul>
                    <%- lims.map(l => `<li>${l}</li>`).join("") %>
                </ul>
            </div>
        <% } %>
        <div class="row-4-sm">
            <h3>Permission Level</h3>
            <% let p = client.permissions.get(command.permLevel); %>
            <strong><%= p.name %></strong> [<%= p.level %>]
        </div>
        <% if (cmd.examples && cmd.examples.length) { %>
            <div class="row-4-sm">
                <h3>Examples</h3>
                <ul>
                    <%- cmd.examples.map(l => `<li><code>${l}</code></li>`).join("") %>
                </ul>
            </div>
        <% } %>
    </div>
</div>

<% include ../partials/footer %>


</html>