<!DOCTYPE html>
<html lang="en">
  
    <% var subtitle = "Command List" %>
    <% include ../partials/head %>
    <% include ../partials/nav %>
  
    
    <br>
    <h1 class="title is-1" style="text-align: center; min-width: 100% !important;" width="100%">Command list</h1>
    <div class="container">
        <% let maxpl = user ? user.maxLevel.level : 4 %>
      <% for (let category of client.registry.groups.filter(grp => grp.commands.some(c => !c.hidden && c.permLevel <= maxpl)).sort((a, b) => a.name.localeCompare(b.name)).values()) { %>
        <% 
          var cmds = category.commands.filter(c => !c.hidden && c.permLevel <= maxpl);
        %>
        <% if (!cmds.size) return; // skip empty %>
        <% let aliases = cmds.some(c => c.aliases && c.aliases.length) %>
        <h3 class="title"><%= category.name %> [<%= cmds.size %>]</h3>
        <div class="table-responsive">
            <table style="width:100%;" class="table table-hover table-commands">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <% if (aliases) { %>
                        <th scope="col">Alias<% if (cmds.some(c => c.aliases.length > 1)) { %>es<% } %></th>
                    <% } %>
                    <th scope="col">Description</th>
                    <th scope="col">Permissions</th>
                    <th scope="col" style="min-width: 9.375rem;">Permission Level</th>
                </tr>
                </thead>
                <tbody>
                
                <% for (let cmd of cmds.values()) { %>
                    <% let p = client.permissionLevels.filter(l => l.level == cmd.permLevel)[0] %>
    
                <tr>
                    <th scope="row"><a href="/commands/<%= cmd.name %>"><%= cmd.name %></a></th>
                    <% if (aliases) { %>
                        <td><%- cmd.aliases.map(a => `<code>${a}</code>`).join(", ") %></td>
                    <% } %>
                    <td><%- md(cmd.description) || "No description" %></td>
                    <td><%= cmd.clientPermissions && cmd.clientPermissions.length ? cmd.clientPermissions.map(p => perm(p)) : "None" %></td>
                    <td><span data-tippy-content="Level <%= p.level %>" class="tippy"><%= p.name %></span></td>
                </tr>
                <% } %>
            </tbody>
            </table>
        </div>
      <% } %>
  </div>
  
    <% include ../partials/footer %>
      
    
</html>