<!DOCTYPE html>
<html lang="en">
  
    <% var subtitle = "" %>
    <% include ../partials/head %>

    <body id="body">

        <% include ../partials/nav %>

        <section name="jumbotron">
            <div class="jumbotron text-center">
              <h1 class=display-3><%= util.inspect(client.registry.commands.size) %></h1>
              <span><a class="lead btn accent btn-lg" role="button" href="<%= client %>">Invite</a></span>
            </div>
        </section>
      
      <div class=container>
        
        <% const features = [
          {
            icon: "level-up-alt",
            text: ":arrow_up: Global leveling system"
          },
          {
            icon: "gamepad",
            text: ":video_game: A growing library of server games"
          },
          {
            icon: "cogs",
            text: ":gear: Moderation System",
          },
        ] %>
        
        <h2 class="text-center">Features</h2>
        <br />

        <div class="row">
          
          <% for (feature of features) { %>
          <div class="col-<%= feature.col || 4 %> text-center">
            <h2>
              <i class="fas fa-<%= feature.icon %>"></i>
            </h2>
            <p><%= feature.text %></p>
          </div>
          <% } %>
        </div>
      </div>
      
        <% include ../partials/footer %>
      
      
      <script src="//code.tidio.co/khdtt8ihnaxtwlkj5wcvprkc4gbsjdzj.js"></script>
    </body>
    
  
</html>